<div class="center jumbotron">
  <h1>WE ARE GRIDSCALE</h1>

  <h2>
    Take a better life,Make a better world! >>
    <a href="http://www.gridscal.com/">http://www.gridscal.com</a>
  </h2>

  <%= link_to "JION US NOW !", new_login_path, class: "btn btn-lg btn-primary" %>
</div>
